<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cart</mat-card-title>
    <mat-card-subtitle>Your shopping cart</mat-card-subtitle>
  </mat-card-header>
  @if(responseReceipt){
    <mat-card-content>
    @for(purchasedProduct of responseReceipt.products; track purchasedProduct){
      <p>{{purchasedProduct.quantity}} {{purchasedProduct.name}}: {{purchasedProduct.totalPrice}}</p>
      }
      <p>Sales taxes: {{responseReceipt.salesTaxes}}</p>
      <p>Total: {{responseReceipt.total}}</p>
  </mat-card-content>
  }
  @if(!responsePurchase){
  <mat-card-content>
    @for(cartProduct of cartProducts; track cartProduct){
      <p>Product: {{cartProduct.name}}</p>
      <p>Quantity: {{cartProduct.quantity}}</p>
      <p>Price for {{cartProduct.quantity}}: {{cartProduct.totalPrice}}</p>
    }
    <p>Total: {{totalAmount}}</p>
  </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="completePurchase()">Complete purchase</button>
      <button mat-button (click)="closeDialog()">Close</button>
    </mat-card-actions>

  } @else {
    <mat-card-actions>
      <button mat-button (click)="getReceipt()">Get receipt</button>
      <button mat-button (click)="closeDialog()">Close</button>
    </mat-card-actions>
  }




</mat-card>
